* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  height: 100%;
  width: 100%;
  position: relative;
}
main {
  position: absolute;
  top: 100px;
  width: 100%;
}
.flex {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 30px;
  text-align: center;
  margin: 30px auto;
}
.button {
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  box-shadow: gray 2px 2px 4px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
}


/* validation */
.real-check {
  display: none;
  color: red;
  margin-left: 10px;
}

.visible {
  display: inline-block;
  margin: 15px 0 15px 40%;
}

.hidden {
  display: none;
}
.create-form__submit-button {
  display: block;
  margin: 0 auto;
}
.error-detection {
  font-size: 17px;
  margin-bottom: 20px;
}
.validetion-error-message {
  color: red;
  line-height: 20px;
  margin: 20px 0 20px 40%;
}
